[submodule "dep/log4cplus"]
	path = thirdparty/log4cplus
	url = https://github.com/log4cplus/log4cplus.git
[submodule "dep/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "thirdparty/hiredis"]
	path = thirdparty/hiredis
	url = https://github.com/jinjiazhang/hiredis.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/mariadb-connector-c"]
	path = thirdparty/mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
