[submodule "dep/log4cplus"]
	path = dep/log4cplus
	url = https://github.com/log4cplus/log4cplus
[submodule "dep/protobuf"]
	path = dep/protobuf
	url = https://github.com/google/protobuf.git
[submodule "dep/lua"]
	path = dep/lua
	url = https://github.com/lua/lua.git
